# Visual studio and VSCode outputs and config
.vs
.vscode

# Development binaries
[Bb]uild
bin
obj

# Testing databases folders
diydog-db
TestResults


# Locally published app
published

# Python local cache and Virtual environments
.venv
__pycache__