# Visual studio and VSCode outputs and config
.vs
.vscode
.idea

# Dotsettings from JetBrains' IDE
*sln.DotSettings.user
*.csproj.user*

# Test runsettings usually contains environment variable such as JWT Token that need to stay secrets !
.runsettings

# Local configuration
AuthConfig.json
google-services.json

# Development binaries
[Bb]uild
bin
obj

# Testing databases folders
diydog-db
TestResults


# Locally published app
published

# Python local cache and Virtual environments
.venv
__pycache__
